pkgbase = openai-codex-bin
	pkgdesc = Package example description
	pkgver = 0.149.1
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	arch = aarch64
	license = Example
	depends = glibc
	source_x86_64 = codex-0.149.1-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.149.1/codex-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = e24fb784c7d71140d67afb620f56e9137496cf7f6c9e19217fa3666dcf306278
	source_aarch64 = codex-0.149.1-aarch64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.149.1/codex-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = 14df6802e39a956de994e844b90d51d8254bcc8057b6e66f0f3e3b8f7e2da5b0

pkgname = openai-codex-bin
