pkgbase = openai-codex-bin
	pkgdesc = Package example description
	pkgver = 0.152.0
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	arch = aarch64
	license = Example
	depends = glibc
	source_x86_64 = codex-0.152.0-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.152.0/codex-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = 05f942d3d3c5b5acd9edad56ce2797b6fe72dbb1462b24e5c9bf7dcec9a28a11
	source_aarch64 = codex-0.152.0-aarch64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.152.0/codex-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = 37da6b486503c8a42cc4604d2a3d80d388df896dd251e9225f4f3d49b08c2e8c

pkgname = openai-codex-bin
